* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: rgba(0, 0, 0, 0.779);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav-list li {
    list-style: none;
    padding-top: 10px;
    margin-right: 40px;
    margin-bottom: 1rem;
}

.nav-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px hsl(0, 0%, 100%)solid;
    padding: 5px;
    border-radius: 1rem;
}

.nav-list a:hover {
    cursor: pointer;
    background-color: rgba(225, 225, 228, 0.185);
}


footer {
    background-color:
        rgba(0, 0, 0, 0.393);
    text-align: center;
    font-size: larger;
    font-family: "Original Surfer", sans-serif;
    color: rgb(255, 255, 255);
}

footer>p {
    padding: 10px;
}

footer>a>i {
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 5px;
    margin-bottom: 15px;
}


button>i {
    font-size: 20px;
}


h1 {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>p {
    margin: 10px;
}

div>a>img {
    border: solid;
    border-radius: 50%;
    border-color: rgb(0, 0, 0);
    margin: 10px;
}

.sobreNosotros {
    margin: 20px;
}


.sobreNosotros p {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.contenedor-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 350px;
    height: 400px;
    padding: 2rem;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.235);
}

.contenedor-card>p {
    margin: 10px;
}

.contenedor-card>img {
    width: 280px;
    height: 180px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: xx-large;
}

.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(84, 98, 203, 0.379);
    align-items: center;
   
}

.formulario {
    background-color: rgba(145, 143, 148, 0.486);
    border-radius: 10px;
    padding: 2rem;
    width: 320px;
    text-align: center;
    font-style: oblique;
    font-size: large;
    padding-bottom: 10px;
    margin-top: 2rem;
    margin-bottom: 20px;
}

.formulario input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

textarea {
    margin-top: 10px;
    resize: vertical;
    max-height: max-content;
    border-radius: 10px;
}



#contenedor-carrito .contenedor-card img {
    width: 280px; 
    height: 180px;     
    object-fit: cover;
    margin-bottom: 1rem;
    display: block;
}

#contenedor-carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    height: 50vh;
}


#contenedor-carrito .contenedor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 1.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 1rem;
}

#contenedor-carrito .btn {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#acciones-carrito {
    display: flex;
    justify-content: center; 
    margin-top: 2rem;
}

#acciones-carrito .btn-vaciar-carrito {
    padding: 0.7rem 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    margin-top: 1rem;
    background-color: #d14c4c;
}
#acciones-carrito .btn-vaciar-carrito:hover {
    background-color: #ffffff;
    color: #000000; 
    border:solid;

}

#contenedor-carrito .btn-eliminar-carrito {
    background-color: #000000;
}

#contenedor-carrito .btn-eliminar-carrito:hover {
    background-color: #393939;
}


